/* ALl styling that is NOT inside a media query can be regarded as default styling for our web page */
/* Here goes content mobil-first */
body {
  margin: 0;
  font-size: 150%;
  height: 100vh;
  font-family: Verdana, Arial, sans-serif;
}

nav {
  background-color: lime;
  align-items: center;
  gap: 15px;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: flex-end;
}

.logo {
  font-size: 70px;
  flex: 1;
}

a {
  font-size: 1.4em;
  text-decoration: none;
  color: #666;
}
a:hover {
  color: #333;
  letter-spacing: 1px;
}




/* Here goes media querys*/

@media screen and (min-width: 570px) {
  /* This styling will only apply when the screen is smaller than 570px in width. BUT the styling from the media query above will still be in effect. */
body {
    font-size: 130%;
  }
  nav {
    flex-direction: row;
    background-color: blanchedalmond;
  }
 

  .logo {
    font-size: 2em;
  }

  a {
    font-size: 1em;
  }
}

@media screen and (min-width: 800px) {
  /* This styling will only apply as long as the screen is smaller than 800 px in width*/

  body {
    font-size: 120%;
  }
  nav {
    background-color: aquamarine;
  }
  
}
